body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f0f0f0;
}

.dcar-details-page {
    max-width: 650px;
    margin: auto;
    background-color:  var(--bgColor);
    border-radius: 5px;
    overflow: hidden;
}

.dcar-gallery {
    display: flex;
    overflow-x: auto;
}

.dcar-image {
    width: 200px;
    height: 200;
    object-fit: cover;
    cursor: pointer;
    margin-right: 5px;
}

.dcar-image:last-child {
    margin-right: 0;
}

.dmain-image-container {
    position: relative;
}

.dmain-image {
    width: 750px;
    height: 400px;
    object-fit: cover;
}

.dcar-details {
    padding: 20px;
}

h1, p {
    margin: 0;
}

h1 {
    font-size: 2em;
    margin-bottom: 10px;
    color: #333;
}

p {
    color: #555;
    margin-bottom: 15px;
}

.downer-info {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.downer-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 15px;
    object-fit: cover;
}

.downer-name {
    font-weight: bold;
    color: #333;
}

.downer-timestamp {
    color: #777;
    font-size: 0.9em;
}

.dcar-description {
    margin-bottom: 20px;
    color: #333;
}

.dcar-price {
    font-size: 1.2em;
    font-weight: bold;
    color: #e74c3c;
    margin-bottom: 20px;
}

.dcategory-list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.dcategory-item {
    background-color: #3498db;
    color: #fff;
    padding: 8px 12px;
    border-radius: 4px;
    margin-right: 10px;
    margin-bottom: 10px;
    font-size: 0.9em;
}

.dadditional-details {
    padding: 20px;
    background-color: #f8f8f8;
}

.ddetails-section {
    margin-bottom: 15px;
}

.ddetails-section h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #333;
}

.ddetails-section p {
    color: #555;
}
.dbuy-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #a66a11;
    color: #fff;
    text-align: center;
    text-decoration: none;
    font-size: 1.2em;
    border-radius: 4px;
    margin-bottom: 20px;
    border: none;
}

.dcontacter-button {
    float:right;
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 2%;
    margin-right: 2%;
    margin-top: 2%;
}
.dfavoris-button {
    float:right;
    background-color: #7a5e63;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 2%;
    margin-right: 2%;
    margin-top: 2%;
}

.den-vente-label {
    position: absolute;
    bottom: 10px;
    right: 90px;
    background-color: #4CAF50;
    color: white;
    padding: 5px;
    border-radius: 3px;
    text-align: center;
    font-size: 12px;
}

.dstatusenvente {
    font-size: 18px;
    font-weight: bold;
    float: right;
    background-color: white;
    padding: 10px;
}
.dstatusvendu {
    font-size: 18px;
    font-weight: bold;
    float: right;
    padding: 10px;
    background-color: white;

}

.details-name{
    color: var(--grayColor);
    font-size: 14px;
}

.details-value{
    color: var(--blackColor);
    font-size: 16px;
    font-weight: bold;
}

.dannonceButtons {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 0;
    padding-left: 10px;
    gap: 1.2rem;
    width: 'max-content';
}